onlyBuiltDependencies[]=@ffmpeg-installer/linux-x64
onlyBuiltDependencies[]=@mastra/node-speaker
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=node-mic
onlyBuiltDependencies[]=protobufjs
onlyBuiltDependencies[]=sharp
onlyBuiltDependencies[]=unrs-resolver
